// Place all the styles related to the games controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/
body{
  text-align: center;
}

.letters{
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 70px 0px;
}

.element{
  background-color: blue;
  color: white;
  height: 50px;
  width: 50px;
  text-align: center;
  border-radius: 50%;
  // width:
  padding-top: 13px;
}

